@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: "Android";
    src: url("../fontes/idroid.otf")format("opentype");
    font-weight: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;

    --fonte-padrão: Arial,verdana, helvetica, sans-serif;
    --fonte-destaque:"Bebas Neue", sans-serif;
    --fonte-androide:"Android";
}


body{
    background-color:var(--cor0);
    font-family: var(--fonte-padrão);
}

p{
    margin: 15px 0px;
    text-indent: 30px;
    line-height: 2em;
}





header{
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor2)) ;
    color: white;
    min-height: 150px;
    padding-top: 40px;
    text-align: center;
}

header > h1{
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 20px;
    
}

header > p{
    font-size:1.2em;
    font-family: var(--fonte-padrão);
    max-width: 600px;
    margin: auto;
}


nav{
    background-color:var(--cor4) ;
    padding: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.411);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

nav > a {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px; 
    text-decoration: none;   
}

nav > a:hover{
    background-color: var(--cor2);
    color: #1a5c37;
    border-radius: 5px 5px;
    transition-duration: 0.2s;
    text-decoration: underline;


}

main{
    background-color: white;
    padding: 20px;
    min-width: 350px;
    max-width: 800px;
    margin: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    text-align: justify;
    margin-bottom:30px;
}
main h1{
    color: var(--cor4);
    font-family: var(--fonte-androide);
}

main h2{
    font-family: var(--fonte-destaque);
    background-image: linear-gradient(to right,var(--cor2), transparent);
    text-indent: 30px;
    border-radius: 20px 20px;
}

main a{
    background-color: #c5ebd6;
    padding:2px;
}


main img{
    width: 100%;
}

main img.pequena{
   max-width: 350px;
    display: block;
    margin: auto;
}


.video{
    background-image: linear-gradient(to bottom, var(--cor3),var(--cor2),var(--cor1),var(--cor0));
    margin: 0px -20px 30px -20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;

}

.video > iframe{
    width: 90%;
    height: 90%;
}


aside{
    background-image: linear-gradient(to bottom, var(--cor2),var(--cor0));
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.167);
    
}

aside > h3{
    background-color: #1a5c37;
    padding: 5px;
    margin: -10px;
    border-radius:10px 10px 0px 0px ;
    color: white;
    text-align: center;
}

aside > ul {
    list-style-position: inside;
    columns: 2;
}

footer{
    background-color: var(--cor4);
    color: white;
    text-align: center;
}





